* {
  background-image: url('../images/light-veneer.png');
}

img {
  box-sizing: border-box;
  border: 5px blue solid;
  padding: 5%;
  display: inline;
  width: 49.5%;
}

.center-image {
  display: block;
  margin: 0 auto;
}
